{% extends "@AequationLabo/base_labo.html.twig" %}

{% block title %}Labo Jelastic generator{% endblock %}

{% block title_h1 -%}{{ ux_icon('fluent-mdl2:code', {height: '48px', width: '48px', class: 'text-success'}) }} LABO Jelastic generator{%- endblock %}

{% block right_content %}
<div>
    <twig:Jelastic />
</div>
{% endblock %}
