{% extends "@AequationLabo/base_labo.html.twig" %}

{% block title %}Labo Site parameters{% endblock %}

{% block title_h1 -%}{{ ux_icon('symfony', {height: '48px', width: '48px', class: 'text-success'}) }} LABO Site parameters <small>({{ parameters.all|length }})</small>{%- endblock %}

{% block right_content %}
<table>
    <thead>
        <tr>
            <th scope="col">Clé</th>
            <th scope="col">Valeur</th>
        </tr>
    </thead>
    <tbody>
        {% for name,value in parameters.all %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ printr(value, 5, true) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
