{# 

DECLARATIONS DE CLASSES POUR LA GÉNÉRATION DES STYLES CSS
NON VISIBLES CAR GÉNÉRÉS DYNAMIQUEMENT

<h1>CE FICHIER NE DOIT PAS ÊTRE UTILISÉ</h1>

<span class="hidden"></span>

<span class="bg-primary-900"></span>
<span class="bg-secondary-900"></span>
<span class="bg-info-900"></span>
<span class="bg-success-900"></span>
<span class="bg-warning-900"></span>
<span class="bg-danger-900"></span>
<span class="bg-error-900"></span>

<span class="btn btn-primary"></span>
<span class="btn-secondary"></span>
<span class="btn-info"></span>
<span class="btn-success"></span>
<span class="btn-warning"></span>
<span class="btn-danger"></span>
<span class="btn-error"></span>

<span class="alert-primary"></span>
<span class="alert-secondary"></span>
<span class="alert-info"></span>
<span class="alert-success"></span>
<span class="alert-warning"></span>
<span class="alert-danger"></span>
<span class="alert-error"></span>

<span class="submit-primary"></span>
<span class="submit-secondary"></span>
<span class="submit-info"></span>
<span class="submit-success"></span>
<span class="submit-warning"></span>
<span class="submit-danger"></span>
<span class="submit-error"></span>

<span class="notyf-primary"></span>
<span class="notyf-secondary"></span>
<span class="notyf-info"></span>
<span class="notyf-success"></span>
<span class="notyf-warning"></span>
<span class="notyf-danger"></span>
<span class="notyf-error"></span>

<span class="badge-primary"></span>
<span class="badge-secondary"></span>
<span class="badge-info"></span>
<span class="badge-success"></span>
<span class="badge-warning"></span>
<span class="badge-danger"></span>
<span class="badge-error"></span>

<span class="bg-opacity-10"></span>
<span class="bg-opacity-20"></span>
<span class="bg-opacity-30"></span>
<span class="bg-opacity-40"></span>
<span class="bg-opacity-50"></span>
<span class="bg-opacity-60"></span>
<span class="bg-opacity-70"></span>
<span class="bg-opacity-80"></span>
<span class="bg-opacity-90"></span>

<span class="underline italic"></span>
<span class="font-thin"></span>
<span class="font-extralight"></span>
<span class="font-light"></span>
<span class="font-normal"></span>
<span class="font-medium"></span>
<span class="font-semibold"></span>
<span class="font-bold"></span>
<span class="font-extrabold"></span>
<span class="font-black"></span>
<span class="text-red-600 dark:text-red-500"></span>
<span class="text-orange-500 dark:text-orange-400"></span>
<span class="bg-green-400 dark:bg-green-600"></span>
<span class="bg-info-500"></span>

<span class="form-helps help-texts form-help help-text form-error form-errors"></span>

<span class="text-mdark"></span>
<span class="text-mdark-100"></span>
<span class="text-mdark-200"></span>
<span class="text-mdark-300"></span>
<span class="text-mdark-400"></span>
<span class="text-mdark-500"></span>
<span class="text-mdark-600"></span>
<span class="text-mdark-700"></span>
<span class="text-mdark-800"></span>
<span class="text-mdark-900"></span>
<span class="text-mdark-950"></span>
<span class="text-mwhite"></span>
<span class="text-mwhite-100"></span>
<span class="text-mwhite-200"></span>
<span class="text-mwhite-300"></span>
<span class="text-mwhite-400"></span>
<span class="text-mwhite-500"></span>
<span class="text-mwhite-600"></span>
<span class="text-mwhite-700"></span>
<span class="text-mwhite-800"></span>
<span class="text-mwhite-900"></span>
<span class="text-mwhite-950"></span>
<span class="text-primary"></span>
<span class="text-primary-100"></span>
<span class="text-primary-200"></span>
<span class="text-primary-300"></span>
<span class="text-primary-400"></span>
<span class="text-primary-500"></span>
<span class="text-primary-600"></span>
<span class="text-primary-700"></span>
<span class="text-primary-800"></span>
<span class="text-primary-900"></span>
<span class="text-primary-950"></span>
<span class="text-secondary"></span>
<span class="text-secondary-100"></span>
<span class="text-secondary-200"></span>
<span class="text-secondary-300"></span>
<span class="text-secondary-400"></span>
<span class="text-secondary-500"></span>
<span class="text-secondary-600"></span>
<span class="text-secondary-700"></span>
<span class="text-secondary-800"></span>
<span class="text-secondary-900"></span>
<span class="text-secondary-950"></span>
<span class="text-info"></span>
<span class="text-info-100"></span>
<span class="text-info-200"></span>
<span class="text-info-300"></span>
<span class="text-info-400"></span>
<span class="text-info-500"></span>
<span class="text-info-600"></span>
<span class="text-info-700"></span>
<span class="text-info-800"></span>
<span class="text-info-900"></span>
<span class="text-info-950"></span>
<span class="text-success"></span>
<span class="text-success-100"></span>
<span class="text-success-200"></span>
<span class="text-success-300"></span>
<span class="text-success-400"></span>
<span class="text-success-500"></span>
<span class="text-success-600"></span>
<span class="text-success-700"></span>
<span class="text-success-800"></span>
<span class="text-success-900"></span>
<span class="text-success-950"></span>
<span class="text-warning"></span>
<span class="text-warning-100"></span>
<span class="text-warning-200"></span>
<span class="text-warning-300"></span>
<span class="text-warning-400"></span>
<span class="text-warning-500"></span>
<span class="text-warning-600"></span>
<span class="text-warning-700"></span>
<span class="text-warning-800"></span>
<span class="text-warning-900"></span>
<span class="text-warning-950"></span>
<span class="text-danger"></span>
<span class="text-danger-100"></span>
<span class="text-danger-200"></span>
<span class="text-danger-300"></span>
<span class="text-danger-400"></span>
<span class="text-danger-500"></span>
<span class="text-danger-600"></span>
<span class="text-danger-700"></span>
<span class="text-danger-800"></span>
<span class="text-danger-900"></span>
<span class="text-danger-950"></span>
<span class="text-error"></span>
<span class="text-error-100"></span>
<span class="text-error-200"></span>
<span class="text-error-300"></span>
<span class="text-error-400"></span>
<span class="text-error-500"></span>
<span class="text-error-600"></span>
<span class="text-error-700"></span>
<span class="text-error-800"></span>
<span class="text-error-900"></span>
<span class="text-error-950"></span>

#}
